{%extends "base.html"%}
{%block content%}

<div class="container-fluid">

    
    <div class="row d-flex flex-column flex-shrink-0">


        <!-- Side bars -->
        <div class="col-sm-3 col-md-2 sidebar">

    
            <ul  class="nav nav-sidebar">
                <li class="active"><a href="#" >Overview<span class="sr-only">(current)</span></a></li>
                <li class="disabled"><a href="#">Total no. of Images: {{10}}</a></li>
                <li class="disabled"><a href="#">Total no. of Faces: {{10}}</a></li>
                <li class="disabled"><a href="#">No. of Faces found: {{10}}</a></li>

                
            </ul>


        </div>

        <div class="col-md-10 col-sm-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="text-center">Hello</p>
                </div>
            </div>
        </div>





    </div>

    <div class="row">

    </div>
</div>



{%endblock%}