{%extends "base.html"%}

{%block title%} Face Classifier {%endblock%}



{%block content%}
<div class="container-fluid">
    <div class="jumbotron">
        <h2 class="">Classify images based on faces.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad hic necessitatibus suscipit consectetur perspiciatis porro iste id qui, laboriosam atque.</p>
    </div>

    <div class="row">


        <div class="col-md-6">

            <div class="panel panel-default">
                <form action="/upload" method="post" enctype=multipart/form-data>
                <div class="panel-body text-center">
                        <label class="custom-file-upload">
                            <span class="btn btn-primary">
                                Browse&hellip; <input name='files' type="file" style="display: none;" id="file" multiple onchange="listFile()"/>
                            </span><br>
                            Select the files..
                        </label>
                </div>

                <div class="panel-footer text-center">
                    <input type='submit' class="btn btn-outline btn-primary" value="Upload">
                </div>

            </form>
            </div>
        </div>

        
        <div class="col col-md-6">
            <div class="panel panel-default">

                <div class="panel-heading">Files to be uploaded</div>

                <div class="panel-body">
                    <div id='files-list' class="list-group">



                    </div>

                </div>

                <div class="panel-footer">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <ul class=flashes>
                        {% for message in messages %}
                        <li class="text-danger" style="list-style-type: none;">{{ message }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                    {% endwith %}
                </div>


            </div>
        </div>
    </div>
</div>



<script>
    const filesInput = document.getElementById('file');
    let fileLoaded = false;

    function createListElem(text, file){

        let li = document.createElement('div');
        li.classList.add('list-group-item');

        const elem = `
            
            <p class='list-group-item-text'>
                ${text}
            
            </p>
        `;

        li.innerHTML = elem;
        return li;
    }

    function removeFile(text){
        console.log(filesInput.files)
    }
    
    function listFile(){
    if ('files' in filesInput) {
        if (filesInput.files.length == 0){

            let li  = createListElem('No file Selected.');
            document.querySelector('#files-list').append(li);
        }else {

            if (!fileLoaded){

                document.querySelector('#files-list').innerHTML = '';   

                fileLoaded = true;
            }

            const files = filesInput.files;

            for (let i = 0; i< files.length; i++){
                if ('name' in file){
            
                    document.querySelector('#files-list').append(createListElem(files[i].name));
                }


            }
        }        
    }

    }

    listFile();





</script>

{%endblock%}